.entry-img-container {
    height: 250px;
    /*line-height: 250px;*/
    text-align: center;
}

.entry-img-container img {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    margin: auto;
    vertical-align: middle;
}